*,
*::before,
*::after {
    box-sizing: border-box;
}

.section {
  max-width: 1200px;
  margin: 10px auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.thead, .tbody {
  width: 100%;
}

.tr-head {
  background-color: #5A705F;
  color: #DFEFDF;
}

.tr:nth-child(even) {
  background-color: #DFEFDF;
}

.th {
  text-align: left;
  padding: 5px 10px;
  font-family: "Arial", serif;
  position: relative;
}

.arrow {
  border: 6px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  right: 7px;
  border-top: 6px solid lightgray; 
  bottom: 0;
}

.arrow-up {
  border-bottom: 6px solid black;
  border-top: 6px solid transparent; 
  top: 0;
}

.arrow-down {
  border-top: 6px solid black;
  bottom: 0;
}

.td {
  padding: 5px 10px;
}


